/* Labels */
html[dir="rtl"] fieldset {
    text-align: right;
}

html[dir="rtl"] .MuiFormLabel-root {
    right: 0;
    left: initial;
    transform-origin: top right;
    transform: translate(-14px, 16px) scale(1);
}

html[dir="rtl"] .MuiFormLabel-root.MuiInputLabel-shrink {
    transform: translate(-14px, -9px) scale(0.75);
}

/* Grid */
html[dir="rtl"] .MuiButton-startIcon {
    margin: 0 0 0 8px !important
}

html[dir="rtl"] .MuiTablePagination-toolbar {
    padding-left: 2px;
    padding-right: 24px;
}

html[dir="rtl"] .MuiTablePagination-actions {
    margin-left: 0;
    margin-right: 20px;
}

html[dir="rtl"] .MuiTablePagination-actions svg {
    transform: scaleX(-1);
}

html[dir="rtl"] .MuiDataGrid-toolbarContainer {
    direction: ltr;
}

html[dir="rtl"] .MuiDataGrid-toolbarContainer button {
    direction: rtl;
}

/* Select */
html[dir="rtl"] .MuiAutocomplete-inputRoot {
    padding-left: 65px;
    padding-right: 0 !important;
}

html[dir="rtl"] .MuiAutocomplete-endAdornment {
    left: 13px;
    right: initial !important;
}

/* DatePicker */
html[dir="rtl"] .MuiPickersCalendarHeader-labelContainer {
    margin-left: auto;
    margin-right: 0 !important;
}

html[dir="rtl"] .MuiPickersArrowSwitcher-root svg {
    transform: scaleX(-1);
}

/* Checkbox & Switch */
html[dir="rtl"] .MuiFormControlLabel-root {
    margin-left: 16px;
    margin-right: -11px;
}

/* Sidebar */
html[dir="rtl"] .minMenuList .MuiPaper-elevation {
    left: auto !important;
    right: 70px !important;
}

html[dir="rtl"] .maxMenuList li a {
    padding-left: 0;
    padding-right: 32px;
}

/* Header */
html[dir="rtl"] .mobSearchBtn {
    left: 25px;
    right: auto;
}

html[dir="rtl"] .mobMenuList .MuiPaper-root {
    right: 0 !important;
    left: auto !important;
}

html[dir="rtl"] .mobMenuList .MuiPaper-root h6 svg {
    margin-right: 0;
    margin-left: 10px;
}

html[dir="rtl"] .mobMenuClose {
    right: 300px !important;
    left: auto !important;
}